<!DOCTYPE html>
<html>
<head>
	<title>Riding the Red Line</title>
	
	<!-- Files to make Bootstrap/Bootswatch work -->
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-ciphE0NCAlD2/N6NUApXAN2dAs/vcSAOTzyE202jJx3oS8n4tAQezRgnlHqcJ59C" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- End Bootstrap/Bootswatch -->

	<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css">
	<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

	<style type="text/css">
		.page-footer {			
			background:#eee;
		}
	</style>
</head>
<body>

	<div class="container">

		<div class="row">

			<div class="col">

				<div class="jumbotron jumbotron-fluid text-center pt-3 pb-3">

					<h1 class="display-4">Riding the Red Line</h1>
					<blockquote class="blockquote">
						<footer class="blockquote-footer">by Erin Partlan and Dhaval Parmar</footer>
					</blockquote>

					<p class="lead">
						Statistics for MBTA Red Line performance
						<hr class="my-4">
						Were yesterday's Red Line trains actually slower than usual?<br />
						Compare yesterday's performance to historical averages.
					</p>

				</div> <!-- end jumbotron -->

			</div> <!-- end col -->

		</div> <!-- end row -->

		<div class="row text-center">

			<div class="col align-self-center">

				Select a time period to view.<br/>
				(Please be patient when loading stats for one year!)

				<!-- form to select timeframe for the plot -->
				<form method="POST" class="post-form" action="">
					{% csrf_token %}
					<div class="btn-group btn-group-toggle mt-2" data-toggle="buttons">	
						<label class="btn btn-sm btn-outline-info {% if timeframe == 'last_day' %}active{% endif %}">
							<input type="radio" name="timeframe" value="last_day" id="last_day" {% if timeframe == 'last_day' %}checked{% endif %}>Yesterday
						</label>
						<label class="btn btn-sm btn-outline-info {% if timeframe == 'last_week' %}active{% endif %}">
							<input type="radio" name="timeframe" value="last_week" id="last_week" {% if timeframe == 'last_week' %}checked{% endif %}>Last Week
						</label>
						<label class="btn btn-sm btn-outline-info {% if timeframe == 'last_month' %}active{% endif %}">
							<input type="radio" name="timeframe" value="last_month" id="last_month" {% if timeframe == 'last_month' %}checked{% endif %}>Last Month
						</label>
						<label class="btn btn-sm btn-outline-info {% if timeframe == 'last_year' %}active{% endif %}">
							<input type="radio" name="timeframe" value="last_year" id="last_year" {% if timeframe == 'last_year' %}checked{% endif %}>Last Year
						</label>
						<label class="btn btn-sm btn-outline-info {% if timeframe == 'custom_range' %}active{% endif %}">
							<input type="radio" name="timeframe" value="custom_range" id="custom_range" {% if timeframe == 'custom_range' %}checked{% endif %}>Custom Range
						</label>
					</div> <!-- end btn-group -->

					<br />
					<br/>
				<div class='align-self-center'>
					<div class="form-group row">
					<label for="datepicker_from" class="col-sm-2 col-form-label text-info">From</label>
					<input id="datepicker_from" name="datepicker_from" />
					<script>
						$('#datepicker_from').datepicker({
							uiLibrary: 'bootstrap4',
							width: 160
						});
					</script>
					{% if dpfrom == 'no date' %}Please select a date.{% endif %}
					</div>
					<div class="form-group row">
					<label for="datepicker_to" class="col-sm-2 col-form-label text-info">To</label>
					<input id="datepicker_to" name="datepicker_to" />
					<script>
						$('#datepicker_to').datepicker({
							uiLibrary: 'bootstrap4',
							width: 160
						});
					</script>
					{% if dpto == 'no date' %}Please select a date.{% endif %}
					</div>
				</div>
					
					<button class="btn btn-success m-2" type="submit" class="save btn btn-default">Submit</button>
				</form>

				<p>For the period <u>{{ from_datetime }}</u> to <u>{{ to_datetime }}.</u></p>

				<p class="text-xl-left">
					<b>Trains from Alewife:</b>
					<br/>
					{% if totaltrips != '' %}
					Total trips: <u>{{ totaltripsA }}</u><br />
					{% endif %}
					{% if totalrush != '' %}
					Total trips at rush hour (M-F 7-10am 4-7pm): <u>{{ totalrushA }}</u><br />
					{% endif %}
					{% if time_bt != '' %}
					Time between trains at rush hour: <u>{{ time_btA }}</u>
					{% endif %}
				</p>

				<p class="text-xl-left">
					<b>Trains to Alewife:</b>
					<br/>
					{% if totaltrips != '' %}
					Total trips: <u>{{ totaltripsB }}</u><br />
					{% endif %}
					{% if totalrush != '' %}
					Total trips at rush hour (M-F 7-10am 4-7pm): <u>{{ totalrushB }}</u><br />
					{% endif %}
					{% if time_bt != '' %}
					Time between trains at rush hour: <u>{{ time_btB }}</u>
					{% endif %}
				</p>

			</div> <!-- end col -->

			<div class="col align-self-center">

				{% if graph != '' %}
				{% for elem in graph %}
				{{elem|safe}}
				{% endfor %}
				{% endif %}

			</div> <!-- end col -->

		</div> <!-- end row -->

		<!-- Footer -->
		<footer class="page-footer font-small blue pt-4 pb-3 mt-5">
			<div class="text-center text-muted">Data obtained through the MBTA-performance API at:
				<a class="text-info" href="https://www.mbta.com/developers">mbta.com/developers</a>
			</div>
			<!-- Copyright -->			
			<div class="footer-copyright text-center text-muted">&copy; 2019 Copyright:
				<a class="text-info" href="https://erin.partlan.net">erin.partlan.net</a>
			</div>
			<!-- Copyright -->
		</footer>
		<!-- End Footer -->

	</div> <!-- end container -->

</body>
</html>
