<center><h1>Riding the Red Line</h1><br/>
	by Erin Partlan and Dhaval Parmar <br/><br/>

Statistics for MBTA Red Line performance. <br/>
Were yesterday's Red Line trains actually slower than usual?<br/>
Compare yesterday's performance to historical averages. <br/> 
Select a time period to view. <br/>
(Please be patient when loading stats for one year!)<br/><br/><br/>

<form method="POST" class="post-form" action="">
{% csrf_token %}
<input type="radio" name="timeframe" value="last_day">Yesterday
<input type="radio" name="timeframe" value="last_week">Last Week
<input type="radio" name="timeframe" value="last_month">Last Month
<input type="radio" name="timeframe" value="last_year">Last Year
<br /><br />
<button type="submit" class="save btn btn-default">Submit</button>
</form>


<br/>For the period {{ from_datetime }} to {{ to_datetime }} <br/><br/>

<b>Trains from Alewife:</b>
<br/>
{% if totaltrips != '' %}
Total trips: {{ totaltripsA }}<br />
{% endif %}
{% if totalrush != '' %}
Total trips at rush hour (M-F 7-10am 4-7pm): {{ totalrushA }}<br />
{% endif %}
{% if time_bt != '' %}
Time between trains at rush hour: {{ time_btA }}
{% endif %}
<br/>
<br/>
<b>Trains to Alewife:</b>
<br/>
{% if totaltrips != '' %}
Total trips: {{ totaltripsB }}<br />
{% endif %}
{% if totalrush != '' %}
Total trips at rush hour (M-F 7-10am 4-7pm): {{ totalrushB }}<br />
{% endif %}
{% if time_bt != '' %}
Time between trains at rush hour: {{ time_btB }}
{% endif %}
<br/>
<br/>

{% if graph != '' %}
{% for elem in graph %}
   {{elem|safe}}
{% endfor %}
{% endif %}
</center>
